form {
  input, textarea {
	padding: 0.6rem 1rem;
	border: 2px solid #efefef;
	background-color: #fff;
	box-sizing: border-box;
	margin: 0.2rem 0;
	width: 100%;
  }
  label, input {
	width: 100%;
	box-sizing: border-box;
  }

  label {
	display: block;
	margin: 0.5rem 0;
  }

}