.list {
  padding: 0;
  margin: 0;
  margin: -0.25rem;
  & > * {
	margin: 0.25rem;
	padding: 0.7rem 1rem;
	list-style: none;
	background-color: #F2F2F2;
	border: 2px solid #DEDEDE;
	display: flex;

	&:hover {
	  background-color: #F6F6F6;
	}

	&:active {
	  background-color: #e1e1e1;
	}

	&.sortable-chosen {
	  background-color: $primaryColor;
	  border-color: darken($primaryColor, 10%);
	  color: #fff;
	}
  }
}