ul.menu {
  padding: 0;
  margin: 0;
  li {
	list-style: none;
	a {
	  cursor: pointer;
	  color: #fff;
	  display: flex;
	  padding: 1rem 1.5rem;
	  &.router-link-exact-active,
	  &.router-link-active {
		background-color: #60a14f;
	  }
	  &,
	  &:focus,
	  &:hover,
	  &:active {
		text-decoration: none;
	  }
	  &:hover:not(.router-link-exact-active) {
		background-color: #6fb35d;
	  }
	}
  }
}