.sidebar {


  .sidebar-section {
	.title {
	  letter-spacing: 2px;
	  color: #fff;
	  font-weight: bold;
	  padding: 1rem;
	  display: flex;
	  align-items: center;
	}
	&:not(:first-child) {
	  border-top: 2px solid #60a14f;
	}
  }

}