form input, form textarea {
  padding: 0.6rem 1rem;
  border: 2px solid #efefef;
  background-color: #fff;
  box-sizing: border-box;
  margin: 0.2rem 0;
  width: 100%; }
form label, form input {
  width: 100%;
  box-sizing: border-box; }
form label {
  display: block;
  margin: 0.5rem 0; }

.list {
  padding: 0;
  margin: 0;
  margin: -0.25rem; }
  .list > * {
    margin: 0.25rem;
    padding: 0.7rem 1rem;
    list-style: none;
    background-color: #F2F2F2;
    border: 2px solid #DEDEDE;
    display: flex; }
    .list > *:hover {
      background-color: #F6F6F6; }
    .list > *:active {
      background-color: #e1e1e1; }
    .list > *.sortable-chosen {
      background-color: #69ad58;
      border-color: #538d45;
      color: #fff; }

ul.menu {
  padding: 0;
  margin: 0; }
  ul.menu li {
    list-style: none; }
    ul.menu li a {
      cursor: pointer;
      color: #fff;
      display: flex;
      padding: 1rem 1.5rem; }
      ul.menu li a.router-link-exact-active, ul.menu li a.router-link-active {
        background-color: #60a14f; }
      ul.menu li a, ul.menu li a:focus, ul.menu li a:hover, ul.menu li a:active {
        text-decoration: none; }
      ul.menu li a:hover:not(.router-link-exact-active) {
        background-color: #6fb35d; }

.sidebar .sidebar-section .title {
  letter-spacing: 2px;
  color: #fff;
  font-weight: bold;
  padding: 1rem;
  display: flex;
  align-items: center; }
.sidebar .sidebar-section:not(:first-child) {
  border-top: 2px solid #60a14f; }

html, body {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif; }

#app {
  height: 100%;
  width: 100%; }

a, a:active, a:hover, a:focus {
  text-decoration: none;
  color: #222; }

/*# sourceMappingURL=global.css.map */
