$textColor: #222;
$primaryColor: #69ad58;

@import "forms";
@import "lists";
@import "menu";
@import "sidebar";

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

#app {
  height: 100%;
  width: 100%;
}

a {
  &, &:active, &:hover, &:focus {
	text-decoration: none;
	color: $textColor;
  }
}
