<template>
  <div>
    <h2>Account</h2>
    <panel>
      Account
    </panel>
  </div>
</template>

<script>
import panels from '../panels.vue'
import panel from '../panel.vue'

export default {
  name: 'settings',
  data () {
    return {}
  },
  components: {
    panels,
    panel
  }
}
</script>

<style scoped lang="scss"></style>
