<template>
  <div>
    <panels>
      <panel>
        <h2>Content Types</h2>
        <ul class="list">
          <router-link
            :to="'types/' + type.id"
            v-for="type in contentTypes"
            :key="type.id"
            tag="li"
          >
            {{ type.name }}
          </router-link>
        </ul>
        <p>
          <router-link to="/types/new/">
            <btn>Create Type</btn>
          </router-link>
        </p>
      </panel>
    </panels>
  </div>
</template>

<script>
import panels from '../panels.vue'
import panel from '../panel.vue'
import draggable from 'vuedraggable'
import btn from '../btn.vue'
import win from '../win.vue'
import field from '../field.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'content-types',
  computed: {
    ...mapGetters({ contentTypes: 'getContentTypes' })
  },
  components: {
    panels,
    panel,
    draggable,
    btn,
    win,
    field
  }
}
</script>

<style scoped lang="scss">
.panel {
  width: 50%;
}
</style>
