<template>
  <div>
    <h2>
      {{ isNew() ? 'Create type' : 'Edit type "' + type.name + '"' }}
    </h2>
    <panels>
      <editTypePanel />
      <fieldsPanel />
    </panels>
  </div>
</template>

<script>
import panels from '../panels.vue'
import editTypePanel from './edit-type-panel.vue'
import fieldsPanel from './fields-panel.vue'
import { mapMutations, mapGetters } from 'vuex'
import { setTimeout } from 'timers'

export default {
  name: 'edit-type',
  methods: {
    isNew () {
      return this.getCurrentTypeId() === 'new'
    },
    getCurrentTypeId () {
      return this.$route.params.type
    },
    ...mapMutations({
      setType: 'setEditedType',
      resetType: 'resetEditedType'
    })
  },
  computed: {
    ...mapGetters({
      dataLoaded: 'dataLoaded',
      getTypeById: 'getTypeById',
      type: 'getEditedType'
    })
  },
  beforeMount () {
    if (this.isNew()) {
      this.resetType()
    } else {
      const type = this.getTypeById(this.getCurrentTypeId())
      if (type) {
        this.setType(type)
      }
    }
  },
  components: {
    panels,
    editTypePanel,
    fieldsPanel
  }
}
</script>

<style scoped lang="scss"></style>
