<template>
  <panel class="type-settings">
    <h3>General</h3>
    <form action="">
      <label for="">Name</label>
      <input type="text" v-model="name" />
      <label for="">Description</label>
      <textarea v-model="description" rows="5"></textarea>
    </form>
    <p v-if="!isNew()">This type has the unique ID "{{ type.id }}".</p>
    <p>
      <btn v-if="!isNew()" @click.native="deleteDialog">Delete type</btn>
      <btn v-if="!isNew()" @click.native="updateType(type)">Save</btn>
      <btn v-if="isNew()" @click.native="createType(type)">
        Create
      </btn>
    </p>
    <win ref="deleteDialog">
      <template v-slot:header>
        Confirm action
      </template>
      <template v-slot:content>
        <p>
          Do you really want to delete this type?
        </p>
      </template>
      <template v-slot:footer>
        <btn @click.native="$refs.deleteDialog.close()">No</btn>
        <btn
          @click.native="
            deleteType(type)
            $refs.deleteDialog.close()
            $router.push('/types/')
          "
        >
          Yes
        </btn>
      </template>
    </win>
  </panel>
</template>

<script>
import panel from '../panel.vue'
import win from '../win.vue'
import btn from '../btn.vue'
import { type as gqltype, field as gqlfield } from '../../graphql/query'
import { mapActions, mapGetters, mapMutations } from 'vuex'
export default {
  name: 'edit-type-panel',
  components: {
    panel,
    win,
    btn
  },
  computed: {
    name: {
      get () {
        return this.type.name
      },
      set (value) {
        this.setTypeProperty({ key: 'name', value })
      }
    },
    description: {
      get () {
        return this.type.description
      },
      set (value) {
        this.setTypeProperty({ key: 'description', value })
      }
    },
    ...mapGetters({
      type: 'getEditedType'
    })
  },
  methods: {
    deleteDialog () {
      return this.$refs.deleteDialog.open()
    },
    isNew () {
      return !this.type.id
    },
    ...mapMutations({
      setTypeProperty: 'setTypeProperty'
    }),
    ...mapActions({
      createType: 'createType',
      updateType: 'updateType',
      deleteType: 'deleteType'
    })
  }
}
</script>
