<template>
  <panel>
    <h3>Fields</h3>
    <p>Fields define the properties the type has.</p>
    <draggable ref="draggable" v-model="fields" handle=".handle" class="list">
      <field
        v-for="(field, index) in fields"
        :key="index"
        v-bind:index="index"
      />
    </draggable>
    <p>
      <btn @click.native="addField">Add field</btn>
    </p>
  </panel>
</template>

<script>
import panel from '../panel.vue'
import draggable from 'vuedraggable'
import btn from '../btn.vue'
import field from '../field.vue'
import { mapGetters, mapMutations } from 'vuex'
export default {
  name: 'fields-panel',
  components: {
    panel,
    draggable,
    btn,
    field
  },
  computed: {
    fields: {
      get () {
        return this.type.fields
      },
      set (value) {
        this.setFields(value.map((f, i) => ({ ...f, index: i })))
      }
    },
    ...mapGetters({
      type: 'getEditedType'
    })
  },
  methods: {
    ...mapMutations({
      addField: 'addField',
      setFields: 'setFields'
    })
  }
}
</script>
