<template>
  <div class="login-wrap">
    <panel>
      <h2>Login</h2>
      <label for="username"></label>
      <input v-model="username" type="text" />
      <input v-model="password" type="password" />
      <button v-on:click="authenticate">Submit</button>
    </panel>
  </div>
</template>

<script>
import panels from '../panels.vue'
import panel from '../panel.vue'

export default {
  name: 'login',
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    async authenticate () {
      const x = await this.$store.dispatch('authenticate', {
        username: this.username,
        password: this.password
      })
      if (this.$store.getters.getAuthToken) {
        this.$router.push('/')
        this.$store.dispatch('fetchTypes')
      }
    }
  },
  components: {
    panels,
    panel
  }
}
</script>

<style scoped lang="scss">
.login-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
