<template>
  <div>
    <h2 class="title">{{ shortform(route.params.type, post.id) }}</h2>
    <panels>
      <panel>
        <form action="" class="edit-form">
          <div
            class="field"
            v-for="field in getType(route.params.type).fields"
            :key="field.id"
          >
            <label>{{ field.label }}</label>
            <multiselect
              v-if="field.fieldtype.id == 1"
              :value="post[field.name]"
              v-on:input="value => setPostProperty({ key: field.name, value })"
              :options="Object.values(getPosts(field.target.id))"
              :custom-label="shortformBuilder(field.target.id)"
              :close-on-select="false"
              track-by="id"
              placeholder="Pick one"
            >
              <template slot="singleLabel" slot-scope="{ option }"
                >{{ shortform(field.target.id, option.id) }}
              </template>
            </multiselect>
            <multiselect
              v-else-if="field.fieldtype.id == 2"
              :value="post[field.name]"
              v-on:input="value => setPostProperty({ key: field.name, value })"
              :options="Object.values(getPosts(field.target.id))"
              :custom-label="shortformBuilder(field.target.id)"
              :multiple="true"
              :close-on-select="false"
              :clear-on-select="false"
              :preserve-search="true"
              placeholder="Pick some"
              track-by="id"
            >
              <template slot="selection" slot-scope="{ values, search, isOpen }"
                ><span
                  class="multiselect__single"
                  v-if="values.length &amp;&amp; !isOpen"
                  >{{ values.length }} options selected</span
                >
              </template>
            </multiselect>
            <input
              v-else-if="field.fieldtype.id == 3"
              type="text"
              :value="post[field.name]"
              v-on:change="
                setPostProperty({ key: field.name, value: $event.target.value })
              "
            />
            <textarea
              v-else
              type="text"
              :value="post[field.name]"
              v-on:change="
                setPostProperty({ key: field.name, value: $event.target.value })
              "
            />
          </div>
        </form>
        <p v-if="!isNew()">This type has the unique ID "{{ post.id }}".</p>
        <p>
          <btn v-if="!isNew()" @click.native="deleteDialog">Delete post</btn>
          <btn
            v-if="!isNew()"
            @click.native="
              updatePost({
                typeId: route.params.type,
                post: JSON.parse(JSON.stringify(post))
              })
            "
            >Save
          </btn>
          <btn
            v-if="isNew()"
            @click.native="
              createPost({
                typeId: route.params.type,
                post: JSON.parse(JSON.stringify(post))
              })
            "
          >
            Create
          </btn>
        </p>
        <win ref="deleteDialog">
          <template v-slot:header>
            Confirm action
          </template>
          <template v-slot:content>
            <p>
              Do you really want to delete this post?
            </p>
          </template>
          <template v-slot:footer>
            <btn @click.native="$refs.deleteDialog.close()">No</btn>
            <btn
              @click.native="
                deletePost({ typeId: route.params.type, post })
                $refs.deleteDialog.close()
                $router.push('/posts/' + route.params.type)
              "
            >
              Yes
            </btn>
          </template>
        </win>
      </panel>
    </panels>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect'
import btn from '../btn.vue'
import win from '../win.vue'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import panels from '../panels.vue'
import panel from '../panel.vue'

export default {
  name: 'post',
  computed: {
    ...mapGetters({
      contentTypes: 'getContentTypes',
      getType: 'getTypeById',
      getPosts: 'getPostsByTypeId',
      getPostById: 'getPostById',
      post: 'getEditedPost',
      route: 'route'
    })
  },
  methods: {
    shortformBuilder (typeId) {
      return function (post) {
        return this.shortform(typeId, post.id)
      }.bind(this)
    },
    shortform (typeId, postId) {
      const posts = this.getPosts(typeId)
      const post = posts[postId]
      if (!post) {
        return 'new post'
      }
      const shortformParams = this.contentTypes[typeId].fields.reduce(
        (acc, field) =>
          field.shortform
            ? [
                ...acc,
                {
                  link: post[field.name] ? post[field.name].id : undefined,
                  key: field.name,
                  target: field.target ? field.target.id : undefined
                }
              ]
            : acc,
        []
      )
      return shortformParams
        .map(
          function ({ link, key, target }) {
            return target
              ? link
                ? this.shortform(target, link)
                : ''
              : post[key]
          }.bind(this)
        )
        .join(' - ')
    },
    deleteDialog () {
      return this.$refs.deleteDialog.open()
    },
    isNew () {
      return !this.post.id
    },
    ...mapMutations({
      setPost: 'setEditedPost',
      resetPost: 'resetPost',
      setPostProperty: 'setPostProperty'
    }),
    ...mapActions({
      fetchPosts: 'fetchPostsByType',
      createPost: 'createPost',
      updatePost: 'updatePost',
      deletePost: 'deletePost'
    })
  },
  components: {
    Multiselect,
    btn,
    win,
    panels,
    panel
  },
  beforeMount () {
    // async fetch data if necessary but stupidly don't wait for it to arrive
    this.fetchPosts(+this.route.params.type)

    // only works if data is here already
    if (this.route.params.post == 'new') {
      this.resetPost(this.route.params.type)
    } else {
      const post = this.getPostById(
        this.route.params.type,
        this.route.params.post
      )
      if (post) {
        this.setPost(post)
      }
    }
  }
}
</script>

<style scoped lang="scss">
.post {
  list-style: none;
  display: flex;
  flex-flow: column;
  user-select: none;
  padding: 0;

  .head {
    padding: 0.75rem;
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  .edit-form {
    background-color: #fff;
    padding: 1rem;
  }

  .handle {
    display: flex;
    cursor: move;
    margin-right: 1rem;
    img {
      max-width: 15px;
      height: 15px;
    }
  }
}
</style>
