<template>
  <div>
    <panels>
      <panel>
        <h2>Posts</h2>
        <ul class="list">
          <router-link
            :to="`/posts/${route.params.type}/${post.id}/`"
            v-for="post in getPosts(route.params.type)"
            :key="post.id"
            tag="li"
          >
            {{ shortform(route.params.type, post.id) }}
          </router-link>
        </ul>
        <p>
          <router-link :to="`/posts/${getType(route.params.type).id}/new/`">
            <btn>Create Post</btn>
          </router-link>
        </p>
      </panel>
    </panels>
  </div>
</template>

<script>
import panels from '../panels.vue'
import panel from '../panel.vue'
import btn from '../btn.vue'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'posts',
  components: {
    panels,
    panel,
    btn
  },
  beforeMount () {
    this.fetchPosts(+this.route.params.type)
  },
  beforeUpdate () {
    this.fetchPosts(+this.route.params.type)
  },
  methods: {
    shortform (typeId, postId) {
      const posts = this.getPosts(typeId)
      const post = posts[postId]
      const shortformParams = this.contentTypes[typeId].fields.reduce(
        (acc, field) =>
          field.shortform
            ? [
                ...acc,
                {
                  link: post[field.name] ? post[field.name].id : undefined,
                  key: field.name,
                  target: field.target ? field.target.id : undefined
                }
              ]
            : acc,
        []
      )
      return shortformParams
        .map(
          function ({ link, key, target }) {
            return target
              ? link
                ? this.shortform(target, link)
                : ''
              : post[key]
          }.bind(this)
        )
        .join(' - ')
    },
    ...mapActions({
      fetchPosts: 'fetchPostsByType'
    })
  },
  computed: {
    ...mapGetters({
      getType: 'getTypeById',
      getPosts: 'getPostsByTypeId',
      route: 'route',
      contentTypes: 'getContentTypes'
    })
  }
}
</script>

<style scoped lang="scss">
.panel {
  width: 50%;
}
</style>
