<template>
  <span class="button">
    <slot></slot>
  </span>
</template>

<script>
export default {
  name: 'btn'
}
</script>

<style scoped lang="scss">
.button {
  display: inline-flex;
  text-align: center;
  padding: 0.75rem 1.2rem;
  background-color: #69ad58;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  //max-width: 100%;
  user-select: none;
  cursor: pointer;
  &:hover {
    background-color: #60a14f;
  }
}

.button + .button {
  margin-left: 0.5rem;
}
</style>
