<template>
  <div name="contentField">
    Hello Im a Content field
    <button name="deleteBtn" @click="deleteField()">
      Delete
    </button>
    <button name="copyBtn" @click="copyField()">
      Copy
    </button>
  </div>
</template>

<script>
export default {
  props: {
    rounded: Boolean,
    color: {
      default: '#42b983'
    }
  },
  data () {
    return {
      message: '...'
    }
  },
  methods: {
    copyField () {
      console.log('should copy now')
    },

    deleteField () {
      console.log('should delete now')
    }
  }
}
</script>

<style>
[name='contentField'] {
  border-radius: 5px;
  background-color: beige;
}

[name='copyBtn'] {
  display: inline;
  background-color: aquamarine;
}
</style>
