<template>
  <div class="field">
    <div class="head" v-on:click.self="toggleEdit">
      <div class="handle">
        <img src="static/res/handle.svg" alt="" />
      </div>
      <span class="title" v-on:click.self="toggleEdit">{{ label }}</span>
    </div>
    <div v-if="active" class="edit-form">
      <form action="">
        <label>Label</label>
        <input type="text" v-model="label" />
        <label>Name</label>
        <input type="text" v-model="name" />
        <label>Description</label>
        <textarea type="text" v-model="description"></textarea>
        <label>Input</label>
        <multiselect
          v-if="!id"
          v-model="fieldtype"
          :options="allOptions"
          label="name"
          track-by="id"
          placeholder="Please select one"
        >
        </multiselect>
        <multiselect
          v-else-if="!(fieldtype.id == 1 || fieldtype.id == 2)"
          v-model="fieldtype"
          :options="optionsNoFk"
          label="name"
          track-by="id"
          placeholder="Please select one"
        >
        </multiselect>
        <p v-else-if="fieldtype.id == 1">
          Foreign key for {{ getTypeById(target.id).label }}
        </p>
        <p v-else-if="fieldtype.id == 2">
          Foreign keys for {{ getTypeById(target.id).label }}
        </p>
        <multiselect
          v-if="!id && (fieldtype.id == 1 || fieldtype.id == 2)"
          v-model="target"
          :options="Object.values(types)"
          label="label"
          track-by="id"
          placeholder="Please select one"
        ></multiselect>
        <label v-if="fieldtype.id != 2">Shortform</label>
        <input v-if="fieldtype.id != 2" type="checkbox" v-model="shortform" />
      </form>
      <btn v-if="fields[index].id" @click.native="deleteDialog"
        >Delete field</btn
      >
      <win ref="deleteDialog">
        <template v-slot:header>
          Confirm action
        </template>
        <template v-slot:content>
          <p>
            Do you really want to delete this field?
          </p>
        </template>
        <template v-slot:footer>
          <btn @click.native="$refs.deleteDialog.close()">No</btn>
          <btn
            @click.native="
              deleteField({ field: fields[index], type })
              $refs.deleteDialog.close()
            "
          >
            Yes
          </btn>
        </template>
      </win>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect'
import btn from './btn.vue'
import win from './win.vue'
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
  name: 'field',
  props: {
    index: Number
  },
  data () {
    return {
      active: false,
      allOptions: [
        { id: 1, name: 'Foreign Key' },
        { id: 2, name: 'Foreign Keys' },
        { id: 3, name: 'Text' },
        { id: 4, name: 'Text Area' },
        { id: 5, name: 'Number' },
        { id: 6, name: 'Date' }
      ],
      optionsNoFk: [
        { id: 3, name: 'Text' },
        { id: 4, name: 'Text Area' },
        { id: 5, name: 'Number' },
        { id: 6, name: 'Date' }
      ]
    }
  },
  computed: {
    id () {
      return this.fields[this.index].id
    },
    label: {
      get () {
        return this.fields[this.index].label
      },
      set (value) {
        this.setFieldProperty({ index: this.index, key: 'label', value })
      }
    },
    name: {
      get () {
        return this.fields[this.index].name
      },
      set (value) {
        this.setFieldProperty({ index: this.index, key: 'name', value })
      }
    },
    description: {
      get () {
        return this.fields[this.index].description
      },
      set (value) {
        this.setFieldProperty({ index: this.index, key: 'description', value })
      }
    },
    shortform: {
      get () {
        return this.fields[this.index].shortform
      },
      set (value) {
        this.setFieldProperty({ index: this.index, key: 'shortform', value })
      }
    },
    fieldtype: {
      get () {
        return this.allOptions.find(
          o => o.id == this.fields[this.index].fieldtype.id
        )
      },
      set (value) {
        const editedFieldtype = JSON.parse(
          JSON.stringify(this.fields[this.index].fieldtype)
        )
        editedFieldtype.id = value.id
        this.setFieldProperty({
          index: this.index,
          key: 'fieldtype',
          value: editedFieldtype
        })
      }
    },
    target: {
      get () {
        return Object.values(this.types).find(
          t => t.id == this.fields[this.index].target.id
        )
      },
      set (value) {
        const editedTarget = JSON.parse(
          JSON.stringify(this.fields[this.index].target)
        )
        editedTarget.id = value.id
        this.setFieldProperty({
          index: this.index,
          key: 'target',
          value: editedTarget
        })
      }
    },
    ...mapGetters({
      fields: 'getEditedFields',
      types: 'getContentTypes',
      getTypeById: 'getTypeById',
      type: 'getEditedType'
    })
  },
  methods: {
    deleteDialog () {
      return this.$refs.deleteDialog.open()
    },
    edit () {
      this.active = true
    },
    closeEdit () {
      this.active = false
    },
    toggleEdit () {
      this.active = !this.active
    },
    ...mapMutations({
      setFieldProperty: 'setFieldProperty'
    }),
    ...mapActions({
      deleteField: 'deleteField'
    })
  },
  components: {
    Multiselect,
    btn,
    win
  }
}
</script>

<style scoped lang="scss">
.field {
  list-style: none;
  display: flex;
  flex-flow: column;
  user-select: none;
  padding: 0;

  .head {
    padding: 0.75rem;
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  .edit-form {
    background-color: #fff;
    padding: 1rem;
  }

  .handle {
    display: flex;
    cursor: move;
    margin-right: 1rem;
    img {
      max-width: 15px;
      height: 15px;
    }
  }
}
</style>
