<template>
  <div class="panel">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'panel'
}
</script>

<style scoped lang="scss">
.panel {
  background-color: #fff;
  border: 2px solid #efefef;
  padding: 1.5rem;

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  li {
    a {
      width: 100%;
      height: 100%;
    }
  }
}
</style>
