<template>
  <div class="panels">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'panel'
}
</script>

<style scoped lang="scss">
.panels {
  display: flex;
  flex-wrap: wrap;
  $gutter: 0.5rem;
  margin: -#{$gutter};

  & > * {
    margin: $gutter;
  }
}
</style>
