<template>
  <div class="sidebar" v-bind:class="{ active: menuActive }">
    <div class="top-bar">
      <img src="static/res/logo.svg" alt="" />
      <span class="toggle-button" @click="close">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          id="Capa_1"
          x="0px"
          y="0px"
          viewBox="0 0 307.2 307.2"
          style="enable-background:new 0 0 307.2 307.2;"
          xml:space="preserve"
          width="512px"
          height="512px"
          class=""
        >
          <g>
            <polygon
              points="307.2,24.136 283.064,0 153.6,129.469 24.136,0 0,24.136 129.464,153.6 0,283.064 24.136,307.2 153.6,177.736     283.064,307.2 307.2,283.064 177.736,153.6   "
              data-original="#000000"
              class="active-path"
              data-old_color="#ffffff"
              fill="#ffffff"
            />
          </g>
        </svg>
      </span>
    </div>

    <div class="content">
      <slot name="content"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'sidebar',
  mounted () {
    let _this = this
    let aTags = this.$el.querySelectorAll('a')
    aTags.forEach(tag => {
      tag.addEventListener('click', e => {
        _this.close()
      })
    })
  },
  methods: {
    close () {
      this.$store.commit('closeMenu')
    },
    open () {
      this.$store.commit('openMenu')
    }
  },
  computed: {
    menuActive () {
      return this.$store.state.menuActive
    }
  }
}
</script>

<style scoped lang="scss">
.sidebar {
  width: 100%;
  background-color: #69ad58;
  display: flex;
  flex-flow: column;

  @media (max-width: 790px) {
    transition: transform ease-out 245ms;
    position: fixed;
    max-width: calc(100% - 50px);
    transform: translateX(-100%);
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
  }

  &.active {
    transform: translateX(0);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  }

  @media (min-width: 790px) {
    width: 300px;
  }
  .content {
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-bottom: 3rem;
    &::-webkit-scrollbar {
      width: 0px; /*For Chrome, Safari and Opera*/
    }
  }
}

.toggle-button {
  display: none;
  $size: 1.75rem;
  width: $size;
  height: $size;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  margin-left: auto;
  @media (max-width: 790px) {
    display: flex;
  }
}

.top-bar {
  height: 5rem;
  border-bottom: 2px solid #60a14f;
  display: flex;
  align-items: center;
  padding: 1rem;
}

hr {
  border: none;
  border-top: 2px solid #60a14f;
  margin: 0;
}
</style>
