<template>
  <ul class="types-menu menu">
    <li v-for="type in contentTypes" :key="type.id" @click="closeSidebar">
      <router-link :to="'/posts/' + type.id">{{ type.name }}</router-link>
    </li>
  </ul>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'types-menu',
  computed: {
    ...mapGetters({
      contentTypes: 'getContentTypes'
    })
  },
  methods: {
    closeSidebar () {
      this.$store.commit('closeMenu')
    }
  }
}
</script>

<style scoped></style>
