<template>
  <div class="user-panel" @click.stop="toggle" v-on:blur="close">
    <div @click.stop="toggle" ref="image" class="user-image"></div>
    <span class="user-name" @click.stop="toggle"
      >{{ user.firstName }} {{ user.lastName }}</span
    >
    <ul class="dd-menu" v-if="active">
      <slot name="menu"></slot>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'userpanel',
  props: {},
  data () {
    return {
      test: '',
      user: {
        userName: 'michael.eichmann',
        firstName: 'Michael',
        lastName: 'Eichmann',
        image:
          'https://ownbit.net/wp-content/uploads/2016/08/michael-eichmann.jpg'
      },
      active: false
    }
  },
  methods: {
    toggle (e) {
      if (e) {
        if (e.target === e.currentTarget) {
          this.active = !this.active
        }
      } else {
        this.active = !this.active
      }
    },
    close () {
      this.active = false
    }
  },
  mounted () {
    this.$refs.image.style.backgroundImage = 'url(' + this.user.image + ')'
  }
}
</script>

<style scoped lang="scss">
.user-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid #efefef;
  position: relative;
  padding: 0 1.5rem;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: #f9f9f9;
  }
}

.user-name {
  margin-left: 1rem;
}

.dd-menu {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  background-color: #fff;
  border: 1px solid #efefef;
  box-shadow: 0px 1.3rem 2rem -1.3rem rgba(0, 0, 0, 0.23);

  li {
    list-style: none;
    padding: 0.5rem 1rem;
  }

  li:hover {
    background-color: #efefef;
  }
}

.user-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #efefef;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
</style>
