<template>
  <div class="overlay" v-if="active">
    <div class="win">
      <header>
        <slot name="header"></slot>
        <span @click="close">X</span>
      </header>
      <section>
        <slot name="content"></slot>
      </section>
      <footer>
        <slot name="footer"></slot>
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  name: 'win',
  data () {
    return {
      active: false
    }
  },
  methods: {
    open () {
      this.active = true
    },
    close () {
      this.active = false
    }
  }
}
</script>

<style scoped lang="scss">
@keyframes overlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.overlay {
  animation: overlay 300ms forwards;
  background-color: rgba(#000, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}

.win {
  border-radius: 4px;
  overflow: hidden;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  min-width: 300px;
  max-width: calc(100% - 30px);

  background-color: #fff;
  box-shadow: 0px 13px 2rem 0px rgba(0, 0, 0, 0.13);
  z-index: 10;

  header {
    border-bottom: 2px solid #efefef;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: black;
    span {
      cursor: pointer;
    }
  }

  section {
    label {
      width: 100%;
      color: black;
      border: none;
    }
  }

  footer {
    background-color: #efefef;
    display: flex;
    justify-content: flex-end;
  }

  header,
  section,
  footer {
    padding: 1rem;
  }
}
</style>
