<template>
  <div id="app">
    <div class="app-layout">
      <sidebar ref="sidebar">
        <template v-slot:content>
          <div class="sidebar-section">
            <strong class="title">CONTENT</strong>
            <types-menu></types-menu>
          </div>

          <div class="sidebar-section">
            <strong class="title">ADMIN</strong>
            <ul class="menu">
              <li>
                <router-link to="/types">Content Types</router-link>
              </li>
            </ul>
          </div>
        </template>
      </sidebar>

      <div class="app-content">
        <div id="top-bar">
          <div class="content-info" @click="openSidebar">
            <span class="toggle-button">
              <svg
                version="1.1"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                width="344.339px"
                height="344.339px"
                viewBox="0 0 344.339 344.339"
                style="enable-background:new 0 0 344.339 344.339;"
                xml:space="preserve"
              >
                <g>
                  <g>
                    <g>
                      <rect y="46.06" width="344.339" height="29.52" />
                    </g>
                    <g>
                      <rect y="156.506" width="344.339" height="29.52" />
                    </g>
                    <g>
                      <rect y="268.748" width="344.339" height="29.531" />
                    </g>
                  </g>
                </g>
              </svg>
            </span>
          </div>
          <userpanel>
            <template v-slot:menu>
              <nav class="main-menu">
                <ul>
                  <li>
                    <router-link to="/account">Account</router-link>
                  </li>
                  <li>
                    <span v-on:click="removeAuthToken">Sign out</span>
                  </li>
                </ul>
              </nav>
            </template>
          </userpanel>
        </div>

        <div id="content">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import userpanel from './components/userpanel.vue'
import sidebar from './components/sidebar.vue'
import typesMenu from './components/types-menu.vue'

export default {
  name: 'app',
  methods: {
    openSidebar () {
      this.$refs.sidebar.open()
    }
  },
  components: {
    userpanel,
    sidebar,
    typesMenu
  },
  methods: {
    removeAuthToken () {
      this.$store.commit('setAuthToken', null)
      this.$router.push('/login')
    }
  }
}
</script>

<style scoped lang="scss">
.app-layout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  @media (min-width: 790px) {
    flex-flow: row;
  }
}

.app-content {
  display: flex;
  flex-flow: column;
  width: 100%;
}

#content {
  overflow: scroll;
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }

  height: 100%;
  background-color: #f9f9f9;
  padding: 2rem;
}

.toggle-button {
  display: none;
  margin-left: 1rem;
  $size: 1.75rem;
  width: $size;
  height: $size;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  @media (max-width: 790px) {
    display: flex;
  }
}

#top-bar {
  border-bottom: 2px solid #efefef;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  height: 4rem;
  @media (min-width: 790px) {
    height: 5rem;
  }
}

.content-info {
  display: flex;
  align-items: center;
}

.main-menu {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    padding: 1rem 2rem;
  }
}
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
